button {
    position: absolute;
    width: auto;
    height: 40px;
    display: block;
    padding: 0 5%;
    border: none;
    border-radius: 4px;
    background-color: #1A9DB4;
    color: whitesmoke;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    transition: background-color .3s ease-out;
  }
  
  .btn-next {
   left: 0;
  }
  
  button:hover {
    background-color: #FB5362;
  }